// colors
$beige: rgb(255, 243, 226);
$peach: rgb(255, 235, 235);
$pink: rgb(253, 244, 245);
$teal: rgb(173, 228, 219);
$blue: rgb(109, 169, 228);
$orange: rgb(246, 186, 111);
$grey: rgb(240, 238, 237);
$almostBlack: rgb(51, 51, 51);

// font sizes
$font-med: 1.125rem; // 14px
$font-sm: 0.875rem; // 18px